.event_parent {
  display: flex;
  flex-wrap: wrap;
}

.max_width {
  width: 100vw;
}

.date_header {
  color: rgba(0,0,0,.87);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  padding: 10px 0 20px 10px;
}

@media (max-width: 500px) {

  .max_width {
    width: 90vw;
  }
}
