.not_link {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.padded {
  padding: 0 15px;
}

.material_card {
  min-width: 345px;
  max-width: 345px;
}

.material_height {
  min-height: 200px;
}
