.not_link {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
.food_chips {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.padded {
  padding: 0px 30px 25px 30px;
}

.material_card {
  min-width: 480px;
  max-width: 475px;
  padding: 10px;
}

.material_height {
  min-height: 200px;
  padding-bottom: 20px;
}

@media (max-width: 500px) {

  .material_card {
    min-width: 100vw;
  }

  .padded {
    padding-bottom: 17.5px;
  }
}
