.not_link {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
.food_chips {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.padded {
  padding: 0 7.5px;
  padding-bottom: 7.5px;
}

.material_card {
  min-width: 350px;
  max-width: 345px;
}

.group_name {
  color: rgba(0,0,0,.54);
  font-size: 13px;
  font-weight: 600;
  line-height: 2;
}

.sub_details {
  color: rgba(0,0,0,.54);
  font-size: 16px;
}


.material_height {
  min-height: 200px;
  padding-bottom: 20px;
}

@media (max-width: 500px) {

  .material_card {
    min-width: 95vw;
  }

  .padded {
    padding: 0 2.5vw;
    padding-bottom: 7.5px;
  }
}
