.mobile-intro {
  display: none;
  padding: 15px 0;
  height: 70px;
  color: black;
  font-weight: 500;
  font-size: 36px;
  width: auto;
  padding-left: 30px;
}

.intro-bar {
  padding: 25px 0;
  height: 100px;
  color: black;
  font-weight: 500;
  font-size: 36px;
  width: auto;
  padding-left: 30px;
  white-space: nowrap; /* Keeps the content on a single line */
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
    typing 4.75s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media (max-width: 1100px) {

  .intro-bar {
    display: none;
  }

  .mobile-intro {
    display: block;
  }
}

@media (max-width: 500px) {
  .mobile-intro {
    padding-left: 10px;
  }
}
